# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Ignore these files
*~
*.swp

# ignore compilation results

hyg-usb
build/*
src/config.h


Makefile
CMakeFiles/
CMakeCache.txt
*.cmake



